.list-item {
  font-size: 24px;
  padding: 12px 16px;
  margin: 30px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  border-radius: 16px;
  box-shadow: 4px 8px 10px rgba(#07c, 0.5);

  &.show {
    box-shadow: 4px 8px 10px rgba(#707, 0.5);
  }
  &.character {
    box-shadow: 4px 8px 10px rgba(pink, 0.5);
  }
}
.list-image {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}
.list-text {
  padding: 6px 20px;
  width: 400px;
}
.list-item-name {
  margin-bottom: 20px;
  color: #07c;
  font-size: 28px;
}
.list-item-desc {
  font-size: 22px;
  color: #777;
  margin-bottom: 20px;
}
.list-item-hot {
  margin-top: 20px;
}
.list-item-fastpass {
  padding: 4px 20px;
  border-radius: 20px;
  background: #07c;
  color: #fff;
  margin-right: 20px;
}
.list-item-new {
  padding: 4px 20px;
  border-radius: 20px;
  background: #c70c27;
  color: #fff;
}
.definition {
  margin-top: 20px;
  font-size: 22px;
  color: #777;
}

