.list-item {
  font-size: 24px;
  padding: 20px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  background: rgba(#07c, 0.1);

  &.show {
    background: rgba(#0a7, 0.1);
  }
  &.character {
    background: rgba(pink, 0.1);
  }
}
.list-image {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}
.list-text {
  padding: 20px;
  padding-top: 6px;
  width: 400px;
}
.list-item-name {
  margin-bottom: 20px;
  color: #07c;
}
.list-item-desc {
  font-size: 18px;
  color: #999;
  margin-bottom: 20px;
}
.definition {
  margin-top: 20px;
  font-size: 18px;
  color: #999;
}
.list-item-hot {
  margin-top: 20px;
}
.list-item-fastpass {
  padding: 4px 20px;
  border-radius: 20px;
  background: #07c;
  color: #fff;
}
.list-item-new {
  margin-left: 20px;
  padding: 4px 20px;
  border-radius: 20px;
  background: #c70c27;
  color: #fff;
}
